body {
    background-color:#6fb1cf;
    color: white;
    text-align: center;
    
}

a {  
    color:darkblue;
    font-size: 150%;
    border: black;
    
}
a:hover {
    color:maroon;
    font-size: 200%;
    transition-duration: 0.5s;
    transition-property: font-size, color;
}

h1 {
    font-size: 400%;
}
